#glcanvasClock{
    background-image: url("textures/clock_small.png");
}

.container {
    width: 80%;
    height: 200px;
    padding: 10px;
}
.webgl {
    margin-right: 20px;
}
.sliderContainer {
    border-left: 1px solid black;
    margin-left: 20px;
}