#glcanvasClock{
    background-image: url("textures/clock_small.png");
}

.container {
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 10px;
}
.webgl {
    width: 15%;
    height: 200px;
    float: left;
}
.sliderContainer {
    margin-left: 15%;
    height: 200px;
}